Saved/ShaderDebugInfo/PCD3D_SM6/WorldGridMaterial_8fbb4b0fc93e2178/Default/DDCKey-Editor.txt
Saved/Logs/Workshop-Level-Design.log
Saved/Logs/Workshop-Level-Design-backup-2026.01.05-13.59.54.log
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Config/CrashReportClient/UECC-Windows-886A5C14465162D404D9359F2000607F/CrashReportClient.ini
Saved/AutoScreenshot.png
Intermediate/CachedAssetRegistry_0.bin
Saved/ShaderDebugInfo/PCD3D_SM6/WorldGridMaterial_8fbb4b0fc93e2178/Default/DDCKey-Editor.txt
Saved/Logs/Workshop-Level-Design.log
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/AutoScreenshot.png
Intermediate/CachedAssetRegistry_0.bin
Saved/ShaderDebugInfo/PCD3D_SM6/WorldGridMaterial_8fbb4b0fc93e2178/Default/DDCKey-Editor.txt
Saved/Logs/Workshop-Level-Design.log
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/AutoScreenshot.png
Intermediate/CachedAssetRegistry_0.bin
Intermediate/CachedAssetRegistry_0.bin
Saved/AutoScreenshot.png
Saved/Config/CrashReportClient/UECC-Windows-3C36D4DE4B2C3CC051BDEBA17996B39E/CrashReportClient.ini
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Logs/Workshop-Level-Design-backup-2026.01.05-14.02.21.log
Saved/Logs/Workshop-Level-Design.log
Saved/ShaderDebugInfo/PCD3D_SM6/WorldGridMaterial_8fbb4b0fc93e2178/Default/DDCKey-Editor.txt
